
#FullName,
#email,
#password,
#birthday,
#address,
#confirmPassword {
  border-radius: 0.25rem;
  border: 1px solid gray;
  width: 32%;
  height: 1.5rem;
  margin-top: 0.3rem;
  margin-left: 25rem;
}
#FullName,
#address {
  border-radius: 0.25rem;
  border: 1px solid gray;
  width: 32% !important;
  height: 1.5rem!important;
  margin-top: 0.3rem !important;
  margin-right: -2rem !important;
}
#FullName,
#email,
#password,
#birthday,
#address,
#confirmPassword ::placeholder {
  font-size:12px;
}

#signup-btn {
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  background-color: #1f3258;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 12%;
  border-radius: 10%;
  display: inline-block;
  margin-left: 30rem;
  margin-top: 2rem;
  margin-bottom: -2rem;
  transform: translate(-25%, -100%);
}

#signup-btn:hover {
  background-color: rgb(97, 183, 218);
}